.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.hero__content {
    padding: 1rem;   
}

.hero__image {
    background-image: url("../images/image03.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 450px;
    border-radius: 40% 60% 0 0;
    background-color: #FFF;
}

@media(min-width: 650px) {
    .hero {
        flex-direction: row;
    }

    .hero__content {
        margin: auto;
    }

    .hero__image {
        width: 80%;
        max-width: 600px;
        height: 100%;
        border-radius: 40% 0 0 70%;
        margin: auto;
    } 
}