@import url("./base.css");

@import url("./hero.css");
@import url("./section.css");
@import url("./footer.css");
@import url("./menu.css");

body {
    background-color: var(--primary__color);
}

.backTopBtn__container {
    background-color: var(--primary__light__color);
}

.backTopBtn {
    font-size: 24px;
    background-color: var(--secundary__color);
    color: var(--primary__light__color);
    padding: .5rem;
    border-radius: 20%;
    cursor: pointer;
    width: min-content;
    margin: auto;
}

.floating {
    position: fixed;
    bottom: .1rem;
    right: calc(50% - 19px);
}

html {
	scroll-behavior: smooth;
}

@media(min-width: 650px) {
    main {
        margin-top: 6rem;
    }
}

@media(min-width: 900px) {
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 18px;
        letter-spacing: 1.5px;
    }
}